<div class="container">

<div id="hero"></div>
<div id="heroHead">
    <img src="/img/heroHead.png" alt="">
</div>

<div id="homeHead">
  <h1>Hello There!</h1>
  <p>
    I am a Graphic Design & Web Development student from Jönköping, Sweden.
    This website is a backend project which was built using Node.js, Express, SQLite3,
    Handlebars.js & CSS.
  </p>

    <br> &nbsp; <br>

    <h2>Let's Talk!</h2>

  <p>You can leave a message in the guestbook by filling out the form below. 
    The message will be posted as a comment for anyone to see! Please be kind. </p>



</div>


<form id="guestBook" class="form" action="/submit-comment" method="POST">
  <label id="formlabel" for="guestBook"> <h1>Guestbook</h1></label>
  <label id="namelabel" for="name"><p>Name:</p> </label>
  <input
    type="text"
    id="name"
    name="name"
    placeholder="Example Exampleson.."
    required
  />

  <label for="email">Email:</label>
  <input
    type="email"
    id="email"
    name="email"
    placeholder="example@forinstance.com"
    required
  />

  <label for="comment">Comment:</label>
  <textarea
    id="comment"
    max-length="500"
    name="comment"
    placeholder="Wow! Your work is amazing!"
    required
  ></textarea>

  <button type="submit">Submit</button>
</form>

</div>



<div class="commentWrapper">
{{#each comments}}
  <div class="commentContainer">
    <h4>{{gname}}</h4>

    <p>{{gcomment}}</p>


                {{#if ../isAdmin}}
            <div id="btn">
          <a href="/edit/{{gid}}">Edit.</a>
          <a  href="/delete/{{gid}}" class="important">Delete.</a>
          </div>
        {{/if}}
        <p id="date">{{gdate}}</p>
  </div>
{{/each}}
</div>
