<div class="container" id="work-container">

  <div id="workhead-1">
  </div>

  <div id="workhead">
    <h1>Work.</h1>
  </div>

  {{#if isAdmin}}
      <a id="newp" href="/newp">new project.</a>
  {{/if}}

  {{#if hasDatabaseError}}
    <div>
      oops! there was a problem with the database:
      <br />
      {{theError}}
    </div>
  {{else}}
    {{#each workItems}}
      <div id="work{{wid}}">
        <a href="work/{{wid}}">
          {{wname}}
        </a>

            {{#if ../isAdmin}}
            <div class="btn">
          <a href="/work/edit/{{wid}}">Edit.</a>
          <a  href="/work/delete/{{wid}}" class="important">delete.</a>
          </div>
        {{/if}}

      </div>
    {{/each}}

  {{/if }}


</div>